{% if variant.unit_price_measurement %}
  <span class="unit-price">
    {{ variant.unit_price | money }}
    <span aria-hidden="true">/</span>
    {% if variant.unit_price_measurement.reference_value != 1 %}
      {{ variant.unit_price_measurement.reference_value }}
    {% endif %}
    {{ variant.unit_price_measurement.reference_unit }}
  </span>
{% endif %}
